.index {
  background:url('/img/home_background.jpeg') repeat left center fixed;
  width: 100%;
  height: 800px;
}

.index__background--transparent {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.index__search-container {
  width: 100%;
  height: 100%;
}

.index__search {
  height: 100%;
  width: 100%;
  display: table;
}

.search__form {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.search__text {
  font-size: 24px;
  height: 60px;
}

.search__button {
  font-size: 24px;
  height: 60px;
  background-color: #343A40;
  border-color: #343A40;
  color: #FFF;
  font-weight: bold;
  padding-left: 0px;
  padding-right: 0px;
}

.preliminary-search-result {
  overflow: hidden;
  margin-top: -1px;
}

.preliminary-search-result__box {
  float: left;
  background-color: white;
  text-align: left;
  border-style: solid;
  border-color: #D3D3D3;
  border-width: 0px 1px 1px 1px;
  font-weight: bold;
  padding: 0 0 0 0;
  margin-left: 1px;
  margin-right: 1px;
}

.preliminary-search-result__emptyspace {
  float: left;
}

.preliminary-search-result__prof {
  padding-left: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.preliminary-search-result__prof:hover {
  cursor: pointer;
  background-color: #F6F6F6;
}