.prof-page__font--tier-1 {
  font-size: 38px;
}

.prof-page__font--tier-2 {
  font-size: 26px;
}

.prof-page__font--tier-3 {
  font-size: 20px; 
}

.prof-page__font--tier-4 {
  font-size: 16px; 
}

@media only screen and (min-width: 400px) {
  .prof-page__font--tier-1 {
    font-size: 48px;
  }

  .prof-page__font--tier-2 {
    font-size: 28px;
  }

  .prof-page__font--tier-3 {
    font-size: 24px; 
  }

  .prof-page__font--tier-4 {
    font-size: 18px; 
  }
}

@media only screen and (min-width: 575px) {
  .prof-page__font--tier-1 {
    font-size: 38px;
  }

  .prof-page__font--tier-2 {
    font-size: 26px;
  }

  .prof-page__font--tier-3 {
    font-size: 20px; 
  }

  .prof-page__font--tier-4 {
    font-size: 16px; 
  }
}

@media only screen and (min-width: 900px) {
  .prof-page__font--tier-1 {
    font-size: 47px;
  }

  .prof-page__font--tier-2 {
    font-size: 30px;
  }

  .prof-page__font--tier-3 {
    font-size: 24px; 
  }

  .prof-page__font--tier-4 {
    font-size: 18px; 
  }
}

@media only screen and (min-width: 1200px) {
  .prof-page__font--tier-1 {
    font-size: 56px;
  }

  .prof-page__font--tier-2 {
    font-size: 34px;
  }

  .prof-page__font--tier-3 {
    font-size: 28px; 
  }

  .prof-page__font--tier-4 {
    font-size: 22px; 
  }
}

.prof-details {
  margin-top: 30px;
  overflow: hidden;
}

.prof-details__image {
  padding: 0 0 0 0;
  float: left;
}

.prof-details__text {
  float: left;
}

.prof-data__name {
  font-weight: bold;
}

@media only screen and (max-width: 575px) {
  .prof-data__name {
    text-align: center;
  }
}

.prof-data__tag {
  display: inline-block;
  color: #666666;
  font-weight: bold;
  background-color: #a7ecf6;
  height: 100%;
  line-height: 100%;
  margin: 3px 3px 3px 3px;
  padding : 5px 8px 5px 8px;
}

.prof-page__buttons {
  height: 38px;
  margin-top: 30px;
  overflow: visible;
}

.prof-buttons {
  margin-top: 15px;
  margin-bottom: 70px;
}

.prof-buttons__dropdown {
  float: left;
  overflow: visible;
  padding: 0 0 0 0;
}

.dropdown-container__item {
  cursor: pointer;
}

.prof-buttons__rate {
  text-align: right;
  float: left;
  padding: 0 0 0 0;
}

.prof-commentlist {
  margin-top: 15px;
}

.prof-comment {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 0 0 0;
}

.prof-comment__module {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.prof-comment__tags {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
  padding: 0 0 0 0;
}

.prof-comment__details {
  overflow: hidden;
  margin-bottom: 10px;
}

.prof-comment__tags {
  overflow: hidden;
}

.prof-comment__tags-title {
  float: left;
  text-align: center;
  padding: 0 0 0 0;
}

.prof-comment__taglist {
  float: left;
}

.prof-comment__tag {
  display: inline-block;
  color: #666666;
  font-weight: bold;
  background-color: #a7ecf6;
  height: 100%;
  line-height: 100%;
  margin: 3px 3px 3px 3px;
  padding : 3px 5px 3px 5px;
}

.prof-comment__details {
  width: 100%;
  padding: 0 0 0 0;
}

.prof-comment__overview {
  padding: 0 0 0 0;
  float:left;
}

@media only screen and (min-width: 550px) {
  .prof-comment__overview {
    padding-left: 5px;
  }
}

@media only screen and (min-width: 650px) {
  .prof-comment__overview {
    padding-left: 10px;
  }
}

@media only screen and (min-width: 750px) {
  .prof-comment__overview {
    padding-left: 15px;
  }
}

@media only screen and (min-width: 850px) {
  .prof-comment__overview {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 950px) {
  .prof-comment__overview {
    padding-left: 25px;
  }
}

@media only screen and (min-width: 1050px) {
  .prof-comment__overview {
    padding-left: 35px;
  }
}

@media only screen and (min-width: 1150px) {
  .prof-comment__overview {
    padding-left: 45px;
  }
}

.prof-comment__rating {
  overflow: hidden;
}

.prof-comment__overview-title {
  float: left;
  padding: 0 0 0 2px !important;
}

.prof-comment__overview-content {
  float: left;
  padding: 0 0 0 0 !important;
}

.prof-comment__essay {
  float: left;
}

.prof-comment__data {
  overflow: hidden;
  width: 100%;
  padding-left: 2px !important;
}

.prof-comment__timestamp {
  float: left;
  padding: 0 0 0 0;
}

.prof-comment__vote {
  float: left;
  text-align: right;
}

.prof-comment__thumbs-up {
  margin-right: 10px;
  cursor: pointer;
}

.prof-comment__upvoted {
  margin-right: 10px;
}

.prof-comment__thumbs-down {
  margin-right: 10px;
  cursor: pointer;
}

.prof-comment__downvoted {
  margin-right: 10px;
}