.forheader {
  /*background-color: #F4F4F4;*/
}

nav {
  background-color: inherit;
}

@media only screen and (min-width: 420px) {
  .forheader {
    padding-left: 10%;
    padding-right: 10%;
  }

}

.app-icon {
  width: 30px;
}

.app-icon img {
  width: 100%;
}