html {
  overflow-x: hidden;
}

.index_body {
  /*overflow: hidden;*/
}

@media only screen and (min-width: 575px) {
  .mobile_only {
    display: none;
  }
}


.no_padding {
  padding: 0 0 0 0 !important;
}

.grey_background {
  background-color: #D4D4D5;
}

.lightgrey_background {
  background-color: #EDEDED;
}

.grey_font {
  color: #B3B3B3;
}

.font_uppermedium_content {
  font-size: 26px;
}

.font_medium_content {
  font-size: 20px;
}

.font_lowermedium_content {
  font-size: 16px;
}

.font_small_content {
  font-size: 12px;
}

.font_lowersmall_content {
  font-size: 10px;
}

.font_mini_content {
  font-size: 8px;
}

@media only screen and (min-width: 400px) {
  .font_small_content {
    font-size: 14px;
  }
  .font_uppermedium_content {
    font-size: 26px;
  }
  .font_medium_content {
    font-size: 22px;
  }
  .font_lowermedium_content {
    font-size: 18px;
  }
  .font_lowersmall_content {
    font-size: 12px;
  }
  .font_mini_content {
    font-size: 10px;
  }
}

@media only screen and (min-width: 575px) {
  .font_small_content {
    font-size: 14px;
  }
  .font_uppermedium_content {
    font-size: 28px;
  }
  .font_medium_content {
    font-size: 22px;
  }
  .font_lowermedium_content {
    font-size: 18px;
  }
  .font_lowersmall_content {
    font-size: 12px;
  }
  .font_mini_content {
    font-size: 10px;
  }
}

@media only screen and (min-width: 900px) {
  .font_small_content {
    font-size: 16px;
  }
  .font_uppermedium_content {
    font-size: 30px;
  }
  .font_medium_content {
    font-size: 24px;
  }
  .font_lowermedium_content {
    font-size: 20px;
  }
  .font_lowersmall_content {
    font-size: 14px;
  }
  .font_mini_content {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  .font_small_content {
    font-size: 18px;
  }
  .font_uppermedium_content {
    font-size: 32px;
  }
  .font_medium_content {
    font-size: 26px;
  }
  .font_lowermedium_content {
    font-size: 22px;
  }
  .font_lowersmall_content {
    font-size: 16px;
  }
  .font_mini_content {
    font-size: 14px;
  }
}

.header {
  z-index: 9999;
  /*background-color: #F4F4F4;*/
}

@media only screen and (min-width: 420px) {
  .header {
    padding-left: 5%;
    padding-right: 5%;
  }

}

@media only screen and (min-width: 750px) {
  .header {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (min-width: 950px) {
  .header {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.icon {
  width: 60px;
  overflow: hidden;
}

.icon__logo {
  width: 100%;
}

.navbar {
  background-color: inherit;
}

.navbar__item {
  margin-left: 20px;
}

.margin_1 {
  margin-left: -15px;
  margin-right: -15px;
}

.padding_2 {
  padding: 15px 15px 15px 15px;
}

.page {
  padding-left: 3px;
  padding-right: 3px;
}

@media only screen and (min-width: 420px) {
  .page {
    padding-left: 5%;
    padding-right: 5%;
  }

}

@media only screen and (min-width: 750px) {
  .page {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (min-width: 950px) {
  .page {
    padding-left: 15%;
    padding-right: 15%;
  }
}



/*for search prof page*/


.profs_searchresult {
  margin-top: 30px;
}

@media only screen and (max-width: 575px) {
  .profs_searchresult {
    text-align: center;
  }
}

.profs_boxlist {
  margin-top: 30px;
}

.profs_box {
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 50px;
  max-height: 250px;
}

.profs_boxphoto {
  float: left;
  height: 250px;
}

.profs_boxphoto img {
  width: 100%;
  max-height: 250px;
  max-width: 250px;
}

@media only screen and (max-width: 1200px) {
  .profs_boxphoto {
    height: 200px;
  }
  .profs_boxphoto img {
    height: 200px;
  }
}

@media only screen and (max-width: 700px) {
  .profs_boxphoto {
    height: 150px;
  }
  .profs_boxphoto img {
    height: 150px;
  }
}

/*@media only screen and (max-width: 420px) {
  .profs_boxphoto {
    height: 100px;
  }
  .profs_boxphoto img {
    height: 100px;
  }
}*/

.profs_boxdetails {
  float: left;
  padding-top: 20px;
}

.profs_boxdetailsname {
  font-size: 20px;
}

@media only screen and (min-width: 400px) {
  .profs_boxdetailsname {
    font-size: 24px;
  }
}

@media only screen and (min-width: 575px) {
  .profs_boxdetailsname {
    font-size: 26px;
  }
}

@media only screen and (min-width: 900px) {
  .profs_boxdetailsname {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1200px) {
  .profs_boxdetailsname {
    font-size: 32px;
  }
}

.profs_ratingstar {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
 
 
.profs_ratingstars {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  /*width: 90%;*/
}

#profs_ratingstars_1 {
  width: 90%;
}

/*for about page*/
.about {
  margin-top: 50px;
}
.about_text {
  margin-top: 30px;
}

/*for contact page*/
.contact {
  margin-top: 50px;
}
.contact_text {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-group label {
  font-weight: bold;
}

/*for login page*/
.login {
  margin-top: 50px;
  margin-bottom: 30px;
}

.login_methods {
  overflow: hidden;
}

.login_methods button {
  float: left;
  overflow: hidden;
  margin: 10px 10px 10px 10px;
  height: 80px;
}

.btn-primary.col-12.col-sm-5 {
  background-color: #3B5998;
  border-color: #3B5998;
}

.btn-danger.col-12.col-sm-5 {
  background-color: #DD4B39;
  border-color: #DD4B39;
}

.login_fbimage {
  padding-top: 15px;
  float: left;
}

.login_fbtext {
  float: left;
  height: 100%;
  /*padding-top: 30px;*/
}

.login_googleimage {
  padding-top: 15px;
  float: left;
}

.login_googletext {
  float: left;
  height: 100%;
  /*padding-top: 30px;*/
}

.login_fbtext table, .login_googletext table {
  height: 100%;
}

.login_fbtext table td, .login_googletext table td {
  vertical-align: middle;
}

@media only screen and (min-width: 576px) and (max-width: 635px) {
  .login_fbtext, .login_googletext {
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 636px) and (max-width: 699px) {
  .login_fbtext, .login_googletext {
    font-size: 16px !important;
  }
}

.fa-facebook-square, .fa-google-plus-square {
  width: 100%;
}

/*for submit form*/
.rate {
  margin-top: 50px;
  margin-bottom: 30px;
}

#rateProfModule {
  cursor: pointer;
}

#ratewProfGrade {
  cursor: pointer;
}

#rateProfRating {
  display: none;
}

#rateProfDifficulty {
  display: none;
}

.rate_stars {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
 
 
.rate_stars_2 {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0%;
  /*width: 90%;*/
}

.rate_star {
  cursor: pointer;
}

.rate_fires {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
 
 
.rate_fires_2 {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0%;
  /*width: 90%;*/
}

.rate_fires .fa-hotjar {
  color: #CCCCCC;
  /*color: #FBCE0B;*/
}

.rate_fires_2 .fa-hotjar {
  color: red;
  width: 0%;
}

.rate_fire {
  cursor: pointer;
}

.rate_tagscheckbox {
  display: none !important;
}

.rate_tag {
  cursor: pointer;
  display: inline-block;
  color: #666666;
  font-weight: bold;
  /*background-color: #a7ecf6;*/
  background-color: #EDEDED;
  height: 100%;
  line-height: 100%;
  margin: 3px 3px 3px 3px;
  padding : 3px 5px 3px 5px;
}

.rate_submit.btn {
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 30px
}