html {
  -ms-overflow-style: none; 
  overflow: -moz-scrollbars-none; 
  overflow-x: hidden;
}

html::-webkit-scrollbar { 
  display: none; 
}

a:hover {
  text-decoration: none !important;
}

@media only screen and (min-width: 575px) {
  .mobile_only {
    display: none;
  }
}

.background--grey {
  background-color: #D4D4D5;
}

.background--lightgrey {
  background-color: #EDEDED;
}

.font--grey {
  color: #B3B3B3;
}

.font-size--xl {
  font-size: 26px;
}

.font-size--l {
  font-size: 20px;
}

.font-size--m {
  font-size: 16px;
}

.font-size--s {
  font-size: 12px;
}

.font-size--xs {
  font-size: 10px;
}

.font-size--xxs {
  font-size: 8px;
}

@media only screen and (min-width: 400px) {
  .font-size--xl {
    font-size: 26px;
  }
  .font-size--l {
    font-size: 22px;
  }
  .font-size--m {
    font-size: 18px;
  }
  .font-size--s {
    font-size: 14px;
  }
  .font-size--xs {
    font-size: 12px;
  }
  .font-size--xxs {
    font-size: 10px;
  }
}

@media only screen and (min-width: 575px) {
  .font-size--xl {
    font-size: 28px;
  }
  .font-size--l {
    font-size: 22px;
  }
  .font-size--m {
    font-size: 18px;
  }
  .font-size--s {
    font-size: 14px;
  }
  .font-size--xs {
    font-size: 12px;
  }
  .font-size--xxs {
    font-size: 10px;
  }
}

@media only screen and (min-width: 900px) {
  .font-size--xl {
    font-size: 30px;
  }
  .font-size--l {
    font-size: 24px;
  }
  .font-size--m {
    font-size: 20px;
  }
  .font-size--s {
    font-size: 16px;
  }
  .font-size--xs {
    font-size: 14px;
  }
  .font-size--xxs {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  .font-size--xl {
    font-size: 32px;
  }
  .font-size--l {
    font-size: 26px;
  }
  .font-size--m {
    font-size: 22px;
  }
  .font-size--s {
    font-size: 18px;
  }
  .font-size--xs {
    font-size: 16px;
  }
  .font-size--xxs {
    font-size: 14px;
  }
}

.loading-screen--logo {
  background:url('/img/logo.png') no-repeat center center fixed;
  height: 2000px;
}

.header {
  z-index: 9999;
}

@media only screen and (min-width: 420px) {
  .header {
    padding-left: 5%;
    padding-right: 5%;
  }

}

@media only screen and (min-width: 750px) {
  .header {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (min-width: 950px) {
  .header {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.icon {
  width: 35px;
  margin-top: -5px;
  overflow: hidden;
}

.icon__logo {
  width: 100%;
}

.navbar {
  background-color: inherit;
}

.navbar__item {
  margin-left: 20px;
}

.page {
  padding-left: 3px;
  padding-right: 3px;
}

@media only screen and (min-width: 420px) {
  .page {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (min-width: 750px) {
  .page {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (min-width: 950px) {
  .page {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.star--dark {
  color: #CCCCCC;
}

.star--bright {
  color: #F8CE0B;
}

.fire--dark {
  color: #CCCCCC;
}

.fire--bright {
  color: red;
}

.rate-value {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
 
.rate-value--coloured {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0%;
}