html {
  overflow-x: hidden;
}

.index_body {
  /*overflow: hidden;*/
}

.grey_background {
  background-color: #E4E4E4;
}

.font_large {
  font-size: 38px;
}

.font_uppermedium {
  font-size: 26px;
}

.font_medium {
  font-size: 20px;
}

.font_lowermedium {
  font-size: 16px;
}

@media only screen and (min-width: 400px) {
  .font_large {
    font-size: 56px;
  }
  .font_uppermedium {
    font-size: 34px;
  }
  .font_medium {
    font-size: 28px;
  }
  .font_lowermedium {
    font-size: 22px;
  }
}

@media only screen and (min-width: 575px) {
  .font_large {
    font-size: 38px;
  }
  .font_uppermedium {
    font-size: 26px;
  }
  .font_medium {
    font-size: 20px;
  }
  .font_lowermedium {
    font-size: 16px;
  }
}

@media only screen and (min-width: 900px) {
  .font_large {
    font-size: 47px;
  }
  .font_uppermedium {
    font-size: 30px;
  }
  .font_medium {
    font-size: 24px;
  }
  .font_lowermedium {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .font-large {
    font-size: 56px;
  }
  .font_uppermedium {
    font-size: 34px;
  }
  .font_medium {
    font-size: 28px;
  }
  .font_lowermedium {
    font-size: 22px;
  }
}

.forheader {
  z-index: 9999;
  /*background-color: #F4F4F4;*/
}


nav {
  background-color: inherit;
}

@media only screen and (min-width: 420px) {
  .forheader {
    padding-left: 5%;
    padding-right: 5%;
  }

}

@media only screen and (min-width: 750px) {
  .forheader {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (min-width: 950px) {
  .forheader {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.app-icon {
  width: 40px;
}

.app-icon img {
  width: 100%;
}

.forheader li {
  margin-left: 20px;
}

.index_maincontent {
  /*margin-top: 100px;*/
  background:url('/img/professor_background.jpg') no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 800px;
}

@media only screen and (max-width: 950px) {
  .index_maincontent {
    /*margin-left: -20px;*/
  }
}

@media only screen and (max-height: 400px) {
  .index_maincontent {
    /*margin-top: 75px;*/
    /*height: 300px;*/
  }
}

.index_transparentbox {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.padding_1 {
  padding-left: 3px;
  padding-right: 3px;
}

@media only screen and (min-width: 420px) {
  .padding_1 {
    padding-left: 5%;
    padding-right: 5%;
  }

}

@media only screen and (min-width: 750px) {
  .padding_1 {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (min-width: 950px) {
  .padding_1 {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.index_searchcontainer {
  width: 100%;
  height: 100%;
}

.index_tablecontainer {
  height: 100%;
  width: 100%;
  display: table;
}

.index_form {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.index_formtext {
  font-size: 24px;
  height: 60px;
}

.index_formbutton {
  /*margin: 0 0 0 0;*/
  font-size: 24px;
  height: 60px;
  background-color: #343A40;
  border-color: #343A40;
  color: #FFF;
  font-weight: bold;
}

.prof_details_page {
  margin-top: 30px;
  overflow: hidden;
}

.prof_image {
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}

.prof_image img{
  width: 100%;
}

.prof_details {
  float: left;
}

.prof_name {
  font-weight: bold;
}

.empty_whitespace {
  float: left;
}

.prof_commentbox {
  float: left;
}

